<form method='post' action='/'>
  URL:<input name='URL'>
  Title:<input name='Title'>
  <input type='submit' value='Add Link'>
</form>

<% if @last_link  %>

  <p>Link added to www.google.com</p>

<% end %>

