<form method='post' action='/'>
  URL:<input name='URL'>
  Title:<input name='Title'>
  <input type='submit' value='Add Link'>
</form>

<% if @last_link  %>

  <p>Link added to <%= @last_link%> </p>

<% end %>

<form action='/links' method='get'>
  <input type='submit' value='Display Links'>
</form>


