<h1> Links </h1>
<a href="/links/new">Add Bookmark</a><br>
<a href="/tags/bubbles">Tags with bubbles</a>
<br>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    <% link.tags.each do |x| %>
    <% if x.tag == 'bubbles'%>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <%= x.tag %>
  <% end %> 
          <% end %>
  </li>
  <% end %>
</ul>
